<h1>Listing worlds</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for world in @worlds %>
  <tr>
    <td><%=h world.name %></td>
    <td><%= link_to 'Show', world %></td>
    <td><%= link_to 'Edit', edit_world_path(world) %></td>
    <td><%= link_to 'Destroy', world, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Tasks', tasks_path %> | <%= link_to 'Pages', pages_path %> | <%= link_to 'Locations', locations_path %> | <%= link_to 'Encounters', tasks_path %>

<br />

<%= link_to 'New world', new_world_path %>
