<p>
  <b>Title:</b>
  <%=h @location.title %>
</p>

<p>
  <b>Text:</b>
  <%=h @location.text %>
</p>

<p>
  <b>Parent:</b>
	<% if @location.parent %>
  	<%= link_to @location.parent.title, {:action => :show, :id => @location.parent.id} %>
	<% else %>
		none
	<% end %>
</p>

<p><span><b>Sub-Locations</b></span>&nbsp;&nbsp;<span><%= link_to 'Add', {:action => :new_sublocation, :id => @location.id} %></span></p>
<% @location.children.each do |location| %>
<p>
	<%= link_to location.title, {:action => :show, :id => location.id} %>
</p>
<% end %>

<p><span><b>Outgoing Adjacent Locations</b></span>&nbsp;&nbsp;<span><%= link_to 'Add', {:action => :new_outgoing_location, :id => @location.id} %></span></p>
<% @location.location_edges_out.each do |edge| %>
<p>
	<%= link_to Location.find(edge.location2).title, {:action => :show, :id => edge.location2.id} %>&nbsp;&nbsp;<%= link_to 'Edit Transition Note', {:action => :edit_location_graph_edge, :id => edge.id, :originating_location => edge.location1.id}%>
</p>
<% end %>

<p><span><b>Incoming Adjacent Locations</b></span>&nbsp;&nbsp;<span><%= link_to 'Add', {:action => :new_sublocation, :id => @location.id} %></span></p>
<% @location.incoming_adjacent_locations.each do |location| %>
<p>
	<%= link_to Location.find(edge.location1).title, {:action => :show, :id => edge.location1.id} %>&nbsp;&nbsp;<%= link_to 'Edit Transition Note', {:action => :edit_location_graph_edge, :id => edge.id, :originating_location => edge.location2.id}%>
</p>
<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
